<div>
  <h1 style="color: white;">Carrito</h1>
  <div class="container d-flex flex-row flex-wrap justify-content-evenly">
    <ul class="list-group">
      {{#each cart.products}}
        <li class="list-group-item">{{_id.title}} - Cantidad: {{quantity}} - ${{_id.price}}</li>
      {{/each}}
    </ul>
  </div>
</div>