<style>
  body { background-color: #333; } .login-container { max-width: 360px; margin:
  auto; margin-top: 64px; padding: 32px; border-radius: 0.5em; color: #333;
  border: 1px solid #bbb; background-color: #ccc; } .a2 { color: #333; }
  .a2:hover { color: #000; }
</style>
<div class="login-container">
  <h1><b>CODERStore</b></h1>
  <h2><b>Login de usuario</b></h2>

  <form action="/api/auth/login" method="post" style="margin-top: 32px;">

    {{#if showError}}
      <div class="alert alert-danger" role="alert" style="margin-top: 16px;">
        {{error}}
      </div>
    {{/if}}
    
    <div class="input-group" style="width: 300px; margin-bottom: 32px;">
      <span class="input-group-text" id="group1"><i
          class="fa-solid fa-user"
        ></i></span>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Email"
        required="required"
        autofocus="autofocus"
      />
    </div>

    <div class="input-group" style="width: 300px; margin-bottom: 32px;">
      <span class="input-group-text" id="group2"><i
          class="fa-solid fa-lock"
        ></i></span>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Contraseña"
        required="required"
        autofocus="autofocus"
      />
    </div>

    <button type="submit" class="btn btn-success">Ingresar</button> </form>

    <div style="margin-top: 24px;">
      Ingresar con Github:
      <button class="btn btn-info submit_btn" onclick="window.location.replace('/api/auth/ghlogin')"><i class="fa-brands fa-github"></i></button>
    </div>

    <div style="margin-top: 24px;">
      No tenés cuenta?:
      <a class="a2" href="/register">Registrate</a>
    </div>

        <div style="margin-top: 24px;">
      No recuerdas tu contraseña?:
      <a class="a2" href="/restore">Restablecer</a>
    </div>
  </form>
</div>