<style>
    body {
        background-color: #333;
    }
    .a2 {
        color: #333;
    }
    .a2:hover {
        color: #000;
    }
</style>

<h2>Usuario: {{user.first_name}}, {{user.last_name}}</h2>
<h3>Rol: {{user.role}}</h3>

<form action="/api/sessions/logout" method="get">
    <button type="submit" class="btn btn-success">Salir</button>
</form>