<div>
  <h1 style="color: white;">Lista de productos</h1>
  <div
    id="productsList"
    class="container d-flex flex-row flex-wrap"
  >
    {{#each products}}
      <div class="card col-4">
        <img src={{thumbnail}} class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <p class="card-text">${{price}}</p>

          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{! SOCKET }}
<script src="/socket.io/socket.io.js"></script>
<script>
  const socketClient = io();
  socketClient.on("products", data => {
  const productsList = document.getElementById("productsList");
  const products = data.products;

  productsList.innerHTML = "";

  products.forEach((product) => {
    const card = document.createElement("div");
    card.classList.add("card", "col-4");

    card.innerHTML = `        
        <img src=${product.thumbnail} class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">${product.title}</h5>
          <p class="card-text">${product.description}</p>
          <p class="card-text">$ ${product.price}</p>

          <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
    `
    productsList.appendChild(card);
  });
  })
</script>